@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.App {
  position: relative;
  opacity: 0.8;
  display: block;
  margin: 4rem auto;
  width: 55%;
  max-width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2rem;
  /*background-color: #fff6f6;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/
}

.App .sun-animation {
  position: absolute;
  left: -35%;
  top: -5%;
  animation: rotate infinite 40s linear;
}

.App .sun-animation img {
  width: 128px;
}

.App .city_overview {
  display: grid;
  grid-template-columns: 39% 17% 17% 17%;
  grid-template-rows: 50% 50%;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.App .code_info {
  color: #1170c4;
  opacity: 1;
  font-size: 18px;
}

.App .code_info a {
  text-decoration: none;
  color: #1170c4;
  transition: all 400ms ease-in-out;
}

.App .code_info a:hover {
  color: #fb4b97;
}
